body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}
button, span {
  padding: 10px;
  font-size: 3em;
}
marquee{
  font-size: 1.7em;
}

ul, h1 {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
span {
  font-size: 1.15em;
  text-align: center;
  margin: 20px;
  width: 50vw;
  display: flex;
  background-color: rgb(148, 181, 209);
  padding: 10px 4px;
  color: white;
  border-radius: 15px;
}
li {
  padding: 10px;
  width: 90px;
  margin: 20px;
  height: auto;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: dodgerblue;
  border-radius: 20px;
  cursor: pointer;
}